<div class="container">
    <h1><%= title %></h1>
<p>Welcome to our survey!
    This website came into frutition from the hopes and dreams of 6 developers, enjoy!
    <img src="./content/images/Team20Logo.png" class="rounded float-left" width="200" length="200" alt="Team Logo Picture">
 
</p>
</div>





