<div class="container">
    <h1><%= title %></h1>

    <h1>Mohammad Salam</h1>
    <p> My email is mdsalam1994@hotmail.com</p>
    
</div>

<p>Contact Me</p>
                
<table >

   
    
    <tr>
        <td ><label for="name">Name</label>

            <input type="text" name="Name" id="Name" size="96"  maxlength="256"   minlength="100" >
            <br>
            <br>
        </td>
        
        
        
    </tr>
   
      
   
 

    <tr>
        <td>
            <textarea name="contact" id="contact" cols="100" rows="5" maxlength="100" placeholder="Enter your  message" maxlength="256"   minlength="100" ></textarea>
       
             
        </td>
    </tr>
    <tr>
        
    </tr>
</table>
</fieldset>
</td>
</tr>

<tr>
<td class="Btn">
<input type="submit"  value="Submit Form">

<input type="reset" value="Erase Form">
</td>

</tr>
</table>
</form>
<br>
<footer>
<p><em>Thank you, I will get back to you when i can </em><br>
</p>
<br>
</main>
</div>
<br>  
</body>
</body>
</html>
<!--<p>My phone number is 647-713--6773</p>