<div class="container">
    <h1><%= title %></h1>

    <p> Eel on the Musk Reality. </p>

    <img src="./content/images/eelon.jpg" class="rounded float-right" width="600" length="600" alt="Eel On the Musk Reality">
  
  
    <p>A evaluation form I did</p>
  
    <img src="./content/images/form.jpg" class="rounded float-right" width="600" length="600" alt="Form project">
  
  

    <p>A project I did on one of my favorite brands</p>

    <img src="./content/images/brand.jpg" class="rounded float-right" width="600" length="600" alt="Favorite Brands">
  
  
  
    </div


